
@{
    ViewData["Title"] = "Error";
}

<h1>Error occured while proccessing your request </h1>
<br />
Your login info not correct or Micro service might not be working
<br />
click below
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Home</a>
</div>